<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} Page title {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="Styles/main.css" />
  </head>
  <body>
  <div align="center">
    <div id="wrapper">
      <div id="left-bar">  
        <div id="logo">
          Blog
        </div>
      </div>
      <div id="right-bar">
        <div id="content">
          {% block content %}
            Page Content Here!!
          {% endblock %}
        </div>
      </div>
      <div class="clearer">&nbsp;</div>
    </div>
  </div>
  </body>
</html>
