/* version 2015-04-03a */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, button, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    border: none;
    max-width: 100%;
    height: auto;
}
body {
    margin: 0px;
    font-family: 'Helevtica Neue', sans-serif;
    line-height: 1.7;
    font-size: 16px;
    background: #ffffff;
    direction: ltr;
    text-align: left;
    color: #000;
}
a {
    color: #000;
}
.wrapper {
    display: table;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 80px;
    margin: auto 0;
}
.buttons-holder {
    text-align: center;
    margin-top: 45px;
}
.appstore, .googleplay {
    width: 139px;
    height: 48px;
    display: inline-block;
}
.appstore {
    background: url('../images/as.png');
    margin-right: 20px;
}
.googleplay {
    background: url('../images/gp.png');
}
.logo {
    background: url('../images/logo.png');
    width: 293px;
    height: 74px;
    margin: 0 auto;
}
.subtitle {
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 35px 50px 30px 50px;
    background: #ffffff;
}
.links {
    position: absolute;
    width: 100%;
    bottom: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    padding: 0px 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.links li {
    display: inline-block;
    margin: 0 8px;
}
.copyright {
    height: 37px;
    width: 120px;
    background: url('../images/phantasm-copyright-transparent.png');
    float: right;
}
.left-copyright {
    font-size: 16px;
    float: left;
    line-height: 44px;
    color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 520px) {
    .footer {
        padding: 35px 30px 30px 30px;
    }
    .appstore {
        margin: 0 auto 15px auto;
    }
    .googleplay {
        margin: 0 auto;
    }
    .appstore, .googleplay {
        display: block
    }
}
@media only screen and (max-width: 380px) {
    .links {
        font-size: 13px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and (min--moz-device-pixel-ratio: 1.5) , only screen and (-o-min-device-pixel-ratio: 1.5) {
    .appstore {
        background-image: url('../images/as@2x.png');
        background-size: 139px 48px;
    }
    .googleplay {
        background-image: url('../images/gp@2x.png');
        background-size: 139px 48px;
    }
    .copyright {
        background: url('../images/phantasm-copyright@2x-transparent.png');
        background-size: 120px 37px;
    }
    .logo {
        background: url('../images/logo@2x.png');
        width: 293px;
        height: 74px;
        background-size: 293px 74px;
        margin: 0 auto;
    }
}
    @media only screen and (max-height: 530px) {
        .buttons-holder {
            margin-top: 20px;
        }
        .wrapper {
            bottom: 152px;
        }
    }
    @media only screen and (max-height: 380px) {
        .buttons-holder {
            margin-top: 10px;
        }
        .wrapper {
            bottom: 100px;
        }
        .footer {
            padding: 15px 30px 10px 30px;
        }
        .links {
            bottom: 80px;
        }
    }
