{% extends "../layout.html" %}

{% block title %}Blog {% endblock %}
{% block content %}
This is my blog:
Create new blog:
<form action="gateway.php" method="post">
  <input type="text" name="title" /><br />
  <textarea name="content" style="width: 200px; height: 100px">
  </textarea> <br />
  <input type="submit" value="Post" />
  <input type="hidden" name="service" value="Post" />
  <input type="hidden" name="action" value="create" />
</form>
{% endblock %}
