body {
    font-family: Arial;
    padding: 0px;
    margin: 0px;
    background: url(Images/greybg.png);
}

a {
    text-decoration: none;
}

#left-bar {
    height: 100%;
    float: left;
    width: 200px;
}

#right-bar {
    float: left;
    width: 700px;
}

#wrapper {
    width: 900px;
    text-align: left;
    background-color: #fffefe;
    border: 1px solid #bababa;
    border-width: 0px 1px 1px 1px;
}

.clearer {
    clear: both;
}